{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <p><h3 class="special">HTML Homework Assignment</h3></p>
    </div>
    <table>
        <tr>
            <th>Favorite Movies of 2022</th>
            <th>Favorite Albums of 2022</th>
        </tr>
        <tr>
            <td><a href="https://letterboxd.com/film/triangle-of-sadness/"><img src="static/myapp/triangle.jpg" style="width:250px;height:371px;"></a></td>
            <td><a href="https://open.spotify.com/album/79ONNoS4M9tfIA1mYLBYVX"><img src="static/myapp/mrmorale.png" style="width:250px;height:250px;"></a></td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li><a href="https://letterboxd.com/film/triangle-of-sadness/">Triangle of Sadness</a></li>
                    <li><a href="https://letterboxd.com/film/the-banshees-of-inisherin/">The Banshees on Inisherin</a></li>
                    <li><a href="https://letterboxd.com/film/scream-2022/">Scream</a></li>
                    <li><a href="https://letterboxd.com/film/the-northman/">Northman</a></li>
                    <li><a href="https://letterboxd.com/film/glass-onion-a-knives-out-mystery/">Glass Onion</a></li>
                </ol>
            </td>
            <td>
                <ol>
                    <li><a href="https://open.spotify.com/album/79ONNoS4M9tfIA1mYLBYVX">Mr. Morale & The Big Steppers</a></li>
                    <li><a href="https://open.spotify.com/album/3QVjpIxcksDkJmOnvlOJjg">The Forever Story</a></li>
                    <li><a href="https://open.spotify.com/album/57263zG8Md6XZ9lBUPPYCm">NO THANK YOU</a></li>
                    <li><a href="https://open.spotify.com/album/07w0rG5TETcyihsEIZR3qG">SOS</a></li>
                    <li><a href="https://open.spotify.com/album/3vQuGKQJMfdXmkjRKqUesk">King's Disease III</a></li>
                </ol>
            </td>
        </tr>
    </table>
<div id="footer">
©2023 Justin's Opinions. All Rights Reserved
</div>
</body>
</html>
